.article-section-content {
   font-size: 1.3rem;
   padding-top: 50px;
   padding-bottom: 50px;
   h1 {
      font-family: Teko;
      letter-spacing: 4px;
      font-size: 4.5rem;
      font-style: italic;
      line-height: 3.8rem;
   }
   p {
      text-align: justify;
   }
}