.article-section-content {
   font-size: 1.3rem;
   padding-top: 50px;
   padding-bottom: 50px;
   p {
      text-align: justify;
   }
   img {
      max-width: calc(100vw - 20px);
      max-height: 215px
   }
}

h1 {
   font-family: Teko;
   letter-spacing: 4px;
   font-size: clamp(2.5rem, 6.5vw, 4.5rem);
   font-style: italic;
   line-height: clamp(2.1rem, 6.5vw, 3.8rem);
   text-align: center;
}
h2 {
   font-family: Teko;
   letter-spacing: 4px;
   font-size: clamp(1.5rem, 6.5vw, 3.5rem);
   font-style: italic;
   line-height: clamp(1.3rem, 6.5vw, 3.2rem);
   text-align: center;
}