@use 'variables' as v;

.button {
   margin-inline: 20px;
   padding-inline: 25px;
   background-color: transparent;
   border-radius: 8px;
   border: 3px solid v.$btn-theme-light;
   color: v.$btn-theme-light;
   transition: all 80ms ease-in-out;
}

.button-light {
   @extend .button;
   padding-block: -5px;
   font-size: clamp(1.4rem, 3.5vw, 2.4rem);
   margin-block-end: 10px;
}

.button-modal {
   @extend .button;
   height: 45px;
   font-size: 1.6rem;
}

.btn-back {
   position: absolute;
   left: -20px;
   top: 0;
   margin-left: 30px;
   color: #fff;
   &:hover {
      color: v.$btn-theme-light-red;
   }
}

button:hover {
   background-color: v.$btn-theme-darker;
   border: 3px solid v.$btn-theme-darker;
   color: #fff;
}
button.red {
   color: v.$btn-theme-light-red !important;
   border: 3px solid v.$btn-theme-light-red !important;
   &:hover {
      background-color: v.$btn-theme-darker-red !important;
      border: 3px solid v.$btn-theme-darker-red !important;
      color: #fff !important;
   }
}
button.green {
   color: v.$btn-theme-light-green !important;
   border: 3px solid v.$btn-theme-light-green !important;
   &:hover {
      background-color: v.$btn-theme-darker-green !important;
      border: 3px solid v.$btn-theme-darker-green !important;
      color: #fff !important;
   }
}
button.light-green {
   color: v.$btn-theme-light-lightgreen !important;
   border: 3px solid v.$btn-theme-light-lightgreen !important;
   &:hover {
      background-color: v.$btn-theme-darker-green !important;
      border: 3px solid v.$btn-theme-darker-green !important;
      color: #fff !important;
   }
}
button.grey {
   color: #333 !important;
   border: 3px solid #333 !important;
   &:hover {
      background-color: v.$btn-theme-darker-red !important;
      border: 3px solid v.$btn-theme-darker-red !important;
      color: #fff !important;
   }
}

@media (max-width: 430px) {
   .tm-solo-game-btns {
      display: flex;
      flex-direction: column;
   }
}