$width-small: 160px;
$width-large: 210px;
$unit-small: calc($width-small / 7.5);
$unit-large: calc($width-large / 7.5);

.card-container,
.card-container * {
   box-sizing: border-box;
}

.card-container {
   position: relative;
   width: $width-small;
   height: $width-small * 1.4;
   border-radius: $unit-small * 0.5;
   .card > * {
      position: absolute;
   }
   .card {
      position: absolute;
      border-radius: $unit-small * 0.5;
      .black-border {
         overflow: hidden;
         inset: $unit-small * 0.15;
         border: $unit-small * 0.1 solid #000;
         border-radius: $unit-small * 0.5 * 0.8;
      }
      .card .black-border > img {
         width: 102%;
         height: auto;
      }
      .cost {
         transform: translate(-50%, -50%);
         top: 5%;
         left: 5%;
         width: 22%;
         aspect-ratio: 1;
         font-size: $unit-small * 1.1;
      }
      .cost > * {
         position: absolute;
         color: #000;
         font-weight: 700;
      }
      .id {
         position: absolute;
         left: 18%;
         top: 4%;
         height: 8%;
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 0 2%;
         color: rgba(0, 0, 0, 0.3);
         background-color: rgba(255, 255, 255, 0.3);
         border-radius: 30%;
         font-weight: 700;
         font-size: $unit-small * 0.6;
      }
      .info-btn {
         position: absolute;
         right: 1%;
         top: 22%;
         width: $unit-small * 0.92;
         height: $unit-small * 0.92;
         color: rgba(9, 0, 87, 0.7);
         background-color: rgb(200, 200, 200);
         border: $unit-small * 0.05 solid rgba(9, 0, 87, 0.7);
         border-radius: 50%;
         display: flex;
         justify-content: center;
         align-items: center;
         font-weight: 900;
      }
      .info-section {
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
         top: 0;
         width: 100%;
         height: 100%;
         color: #000;
         background-color: rgba(255, 255, 255, 0.85);
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
         font-size: $unit-small * 0.5;
         font-weight: 500;
         span {
            display: block;
            width: 95%;
            text-align: center;
            line-height: $unit-small * 0.5;
            &:first-of-type {
               margin-top: 64%;
            }
            &:not(:last-of-type) {
               margin-bottom: $unit-small * 0.3;
            }
         }
      }
      .tags {
         height: 14.8%;
         top: -2.5%;
         right: -4%;
         display: flex;
         justify-content: flex-end;
         align-items: center;
         gap: 2%;
         .tag {
            height: 100%;
            aspect-ratio: 1;
            img {
               width: 100%;
               height: 100%;
            }
         }
      }
      .req {
         width: 65%;
         height: 10%;
         top: 15%;
         left: 50%;
         transform: translateX(-50%);
         background: rgb(255, 145, 0);
         background: linear-gradient(
            90deg,
            rgba(255, 145, 0, 1) 0%,
            rgba(255, 214, 0, 1) 50%,
            rgba(255, 145, 0, 1) 100%
         );
         display: flex;
         justify-content: center;
         align-items: center;
         color: #000;
         border: $unit-small * 0.1 solid #333;
         box-shadow: 0 0 0 $unit-small * 0.06 #fff;
         font-size: $unit-small * 0.8;
         font-weight: 800;
         .text {
            margin-right: 5%;
         }
         .icon-res {
            height: 84.5%;
         }
         .icon-ox {
            .greenery {
               height: 100%;
            }
            .ox {
               position: absolute;
               height: 25%;
               right: 10%;
               top: 25%;
               transform: translate(50%, -50%);
            }
         }
         &.max {
            background: rgb(208, 0, 0);
            background: linear-gradient(
               90deg,
               rgba(208, 0, 0, 1) 0%,
               rgba(255, 142, 55, 1) 50%,
               rgba(208, 0, 0, 1) 100%
            );
         }
      }
      .req > .icon {
         height: 130%;
         margin-left: 1.5%;
         margin-right: 1.5%;
      }
      .req > .icon-ox {
         position: absolute;
         height: 130%;
         aspect-ratio: 1;
      }
      .name {
         position: absolute;
         width: 170%;
         height: 15%;
         border-bottom-left-radius: 50%;
         border-bottom-right-radius: 50%;
         top: 27%;
         left: 50%;
         transform: translateX(-50%);
         font-size: smaller;
         font-weight: 500;
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: $unit-small * 0.73;
         &.mid-long {
            font-size: $unit-small * 0.63;
         }
         &.long {
            font-size: $unit-small * 0.53;
         }
      }
      .effect {
         position: absolute;
         left: 50%;
         top: 44%;
         transform: translateX(-50%);
         width: 95%;
         height: 35%;
         img {
            height: 100%;
         }
      }
      .description {
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
         bottom: 2%;
         width: 95%;
         font-size: $unit-small * 0.41;
         line-height: $unit-small * 0.41;
         text-align: center;
         color: #000;
         font-weight: 500;
         &.with-vp {
            width: 66%;
            left: 2.8%;
            transform: translateX(0);
         }
      }
      .vp-container {
         position: absolute;
         right: $unit-small * 0.1;
         bottom: $unit-small * 0.1;
         width: $unit-small * 2;
         height: $unit-small * 2;
         .vp {
            width: 100%;
            height: 100%;
         }
      }
   }
   // &.big {
   //    width: $width-large;
   //    height: $width-large * 1.4;
   //    border-radius: $unit-large * 0.5;
   //    box-shadow: 0 0 $unit-small * 2.5 $unit-small
   //       rgba(0, 0, 0, 0.8);
   //    .card {
   //       border-radius: $width-large * 0.5;
   //       .black-border {
   //          inset: $width-large * 0.15;
   //          border: $width-large * 0.1 solid #000;
   //          border-radius: $width-large * 0.5 * 0.8;
   //       }
   //       .cost {
   //          font-size: $width-large * 1.1;
   //       }
   //       .req {
   //          border: $width-large * 0.1 solid #333;
   //          box-shadow: 0 0 0 $width-large * 0.06 #fff;
   //          font-size: $width-large * 0.8;
   //       }
   //       .name {
   //          font-size: $width-large * 0.73;
   //          &.mid-long {
   //             font-size: $width-large * 0.63;
   //          }
   //          &.long {
   //             font-size: $width-large * 0.53;
   //          }
   //       }
   //       .vp-container {
   //          right: $width-large * 0.1;
   //          bottom: $width-large * 0.1;
   //          width: $width-large * 2;
   //          height: $width-large * 2;
   //       }
   //    }
   // }

   .card-bg-green {
      background-color: rgb(13, 68, 13);
      .black-border {
         background: rgb(122, 153, 122);
         background: linear-gradient(
            135deg,
            rgb(21, 150, 9) 0%,
            rgb(161, 161, 161) 25%,
            rgb(55, 99, 57) 50%,
            rgb(161, 161, 161) 75%,
            rgb(4, 48, 6) 100%
         );
      }
   }
   .card-bg-blue {
      background-color: rgb(25, 56, 114);
      .black-border {
         background: rgb(122, 128, 153);
         background: linear-gradient(
            135deg,
            rgb(9, 47, 150) 0%,
            rgb(161, 161, 161) 25%,
            rgb(55, 67, 99) 50%,
            rgb(161, 161, 161) 75%,
            rgb(4, 14, 48) 100%
         );
      }
   }
   .card-bg-red {
      background-color: rgb(117, 27, 27);
      .black-border {
         background: rgb(153, 122, 122);
         background: linear-gradient(
            135deg,
            rgb(150, 9, 9) 0%,
            rgb(161, 161, 161) 25%,
            rgb(99, 55, 55) 50%,
            rgb(161, 161, 161) 75%,
            rgb(48, 4, 4) 100%
         );
      }
   }
}
