@use 'variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

// General & Scrollbar
html {
   background-color: black;
}
body {
   min-height: 100vh;
   background-image: url('../../assets/images/bg/bg.jpg');
   background-repeat: repeat;
   background-size: contain;
   background-attachment: fixed;
   letter-spacing: 1px;
   font-family: 'Saira Condensed', sans-serif;
   // font-family: 'Teko', sans-serif;
   font-weight: 300;
   color: #fff;
}
body::-webkit-scrollbar {
   position: absolute;
   width: 20px;
}
body::-webkit-scrollbar-track {
   background-color: black;
   border-radius: 9999px;
}
body::-webkit-scrollbar-thumb {
   background-color: v.$primary-red-dark;
   border: 5px solid black;
   border-radius: 9999px;
}

// Content
main {
   min-height: calc(100vh - v.$nav-height);
}
.section-container {
   padding: 15px;
   margin-bottom: 0;
   min-height: calc(100vh - v.$nav-height);
   background: v.$bg-content-dark;
}
.section {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   min-height: 850px;
   &:not(:last-of-type) {
      border-bottom: 2px solid v.$section-divider-clr;
   }
}

// Misc
.full-size {
   width: 100%;
   height: 100%;
}

.center {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%) !important;
}

.pointer {
   cursor: pointer;
}

strong {
   letter-spacing: 1.5px;
   color: v.$btn-theme-light;
}

strong.red {
   color: v.$btn-theme-light-red;
}

strong.blue {
   color: v.$btn-theme-light-blue;
}