// Background
$primary-red-dark: rgb(19, 17, 17);
$primary-red-light: rgb(117, 102, 102);
$bg-content-dark: linear-gradient(
   90deg,
   rgba(12, 8, 8, 1) 0%,
   rgba(2, 1, 1, 0.96) 21%,
   rgba(2, 1, 1, 0.955) 50%,
   rgba(2, 1, 1, 0.96) 79%,
   rgba(12, 8, 8, 1) 100%
);

// Navbar
$nav-color: linear-gradient(0deg, rgba(15, 9, 9, 0.97) 0%, rgba(19, 17, 17, 1) 100%);
$nav-height: 70px;

// Footer
$footer-color: linear-gradient(0deg, rgba(13, 9, 9, 0.95) 0%, rgba(15, 9, 9, 1) 100%);
$footer-height: 45px;

// Section
$section-divider-clr: rgb(27, 26, 26);
$btn-theme-light: rgba(241, 180, 47, 0.8);
$btn-theme-darker: rgba(94, 67, 9, 0.8);
$btn-theme-light-red: rgba(241, 102, 47, 0.8);
$btn-theme-darker-red: rgba(94, 36, 9, 0.8);
$btn-theme-light-green: rgba(47, 241, 128, 0.8);
$btn-theme-light-lightgreen: rgba(175, 240, 202, 0.8);
$btn-theme-darker-green: rgba(9, 94, 37, 0.8);

// Tiers List
$table-border: 1px solid
   rgba(
      $color: #060606,
      $alpha: 1,
   );
$table-foot-border: 2px solid
   rgba(
      $color: #111,
      $alpha: 1,
   );
$tierS-color: rgb(255, 255, 255);
$tierA-color: rgb(83, 244, 255);
$tierB-color: rgb(83, 255, 140);
$tierC-color: rgb(166, 255, 83);
$tierD-color: rgb(255, 229, 83);
$tierE-color: rgb(255, 132, 83);
$tierF-color: rgb(255, 83, 83);
